.btn-depressed {
  --bg: var(--dark);
  --border: var(--light);
}

.btn-primary {
  --bg: var(--gradient);
  --border: var(--gradient);
}

.btn {
  font-weight: 500;
  border-radius: 50px;

  cursor: pointer;
  color: var(--light);
  background: var(--bg);
  transition: 0.2s;

  /* for transparent border */
  border: none;
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* for transparent border */
.btn::before {
  content: '';
  position: absolute;
  border-radius: 50px;
  inset: 0px;
  background-color: transparent;
  border: 3px solid var(--light);
  opacity: 30%;
}

.btn:hover:not(:active) {
  transform: translate(0.40rem,-0.40rem);
  background: var(--bg);
  box-shadow: -0.40rem 0.40rem var(--light);
}
