:root {
  --primary-black: rgb(23, 23, 23);
  --secondary-black: rgb(30, 30, 30);
  --primary-white: rgb(242, 242, 242);
  --secondary-white: rgb(224, 224, 224);
  --tertiary-white: rgb(175, 175, 175);

  --gradient-lighter: linear-gradient(
      141deg,
      #c87cff 0%,
      #745cfc 50%,
      #3ff1fd 100%
    );
}

html {
  color: var(--primary-white);
  background-color: var(--primary-black);

  height: 100%;
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 1.4;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
}

body {
  margin: 0;
  min-height: 100%;
}

#app {
  min-height: var(--viewport-height);
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10rem;
}

/*
 * Remove text-shadow in selection highlight.
 */

::-moz-selection {
  background: rgba(75, 75, 75, 0.3);
  text-shadow: none;
}

::selection {
  background: rgba(75, 75, 75, 0.3);
  text-shadow: none;
}

img, svg, video { vertical-align: middle }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
}

section, .container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
}

.card {
  padding: 2.5rem;
  border-radius: 3px;
  background-color: #e2daeb; /* FIXME */
}

.gradient-bg {
  background: var(--gradient-lighter);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line-break {
  display: block;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.7rem;
  }
}
 
@media screen and (max-width: 767px) {
  p {
    font-size: 1.6rem;
  }
  .line-break {
    display: inline;
  }
  .card {
     padding: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 3.9rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .container {
    width: 85%;
  }
}
