footer {
  padding: 1.5rem 0;

  font-size: 1.6rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width: 767px) {
  .footer-layout {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 479px) {
  .footer-layout {
    font-size: 1.2rem;
  }
}
