/* General */

@font-face{
  font-family: Rotunda;
  src: url(/font/Rotunda-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block
}

@font-face{
  font-family: Rotunda;
  src: url(/font/Rotunda-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block
}

@font-face{
  font-family: Rotunda;
  src: url(/font/Rotunda-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block
}

html {
  color: #141C31;
  font-family: Rotunda;
  font-size: 10px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img, svg, video { vertical-align: middle }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* APP */

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--viewport-height);
  overflow: hidden;
  position: relative;
}
