---
layout: page
title: Category
number: 2
---

<div class="archive tag">
<h1>Tags</h1>
<br>
{% for category in site.categories %}
<a class="category btn-tag {{ category | first }}" href="#{{ category | first }}">
  {{ category | first | replace: '_', ' ' }}
</a>
{% endfor %}
</div>

{% for category in site.categories %}
  <br>
  <div class="archive category {{ category | first }}">
  <h2><a name="{{ category | first }}" style="color: inherit; text-shadow: 0 0 1px;">
    {{ category | first | capitalize | replace: '_', ' ' }}
  </a></h2>
  <ul>
  {% for posts in category %}
    {% for post in posts %}
      {% if post.url %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
  </div>
{% endfor %}